@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  text-align: justify;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}
.header {
    background-color: darkred;
    padding: 15px;
    text-align: left;
  }
  
.header a{
    font-family: 'Abril Fatface', cursive;
    font-size: 30pt;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
  }

.content {
  margin: 30px;
  font-size: 15pt;
}

h1 {
  text-align: center;
  font-size: 30pt;
}


.image {
  margin: 20px;
  width: 400px;
  height: auto;
}

#footer{
  background-color: lightgray;
}


.container {
  display: grid;
  grid-template-columns: 40% 40% ;
  grid-template-rows: (15, 35%);
  gap: 40px 60px;
}

.img- {
  grid-column-start: 2;
}