@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Sacramento&family=Yantramanav:wght@300&display=swap');
*{
    font-family: 'Yantramanav', sans-serif;
    text-align: justify; 
    margin: 0;
    padding: 0;
    
}

h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 30pt;
  color: #194350;
}

h2 {
  color: #9DBEB9;
}


.header {
  background-color: #194350;
  padding: 15px;
  text-align: left;
}

.header a{
    font-family: 'Sacramento', cursive;
    font-size: 30pt;
    text-align: left;
    color: white;
    text-decoration: none;
}

/* Style buttons */
.btn {
    background-color: white; 
    border: none; 
    color:black; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    float: right;

}


.desp {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Yantramanav', sans-serif;
    right: 0;
  }

    

.desplegable:hover .desp {
    display: flex;              /* ESTAS DOS PROPIEDADES display Y flex-direction NOS AYUDAN A QUE LOS BOTONES SE MUESTREN EN VERTICAL*/
    flex-direction: column;
    height: max-content;
    padding: 3%;


    
}

.desp a {              /* Para quitar el aspecto de enlace a los botones o subtemas del menú (no subrayado, y cambio de color) */
    text-decoration: none;
    color: black;
}

.desp a:hover {
    text-decoration: none;
    color: #F9DFDC;
    text-shadow: 1px 1px 2px gray;
}

/* Imagenes en las paginas principales*/
img {
    margin: 20px;
    width: 260px;
    height: 200px;

}

img:hover {
  box-shadow:4px 4px 15px black ;
}



/* Formato de videos*/
#footer1 {
    left: 0;
    bottom: 0;     
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    padding: 15px;
    background-color: gray;
    position: static;
}




.link { /*Pone nombre de cada mujer*/
    text-decoration: none;
    color: #9DBEB9;
    
}

.link:hover {
  color: #F9DFDC;
}



.grid { /* Coloca imagenes en orden*/
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    padding: 5px;
  
}
 
/* Indice que se encuentra al inicio de la pagina DEPORTE */
.index a {
    text-decoration: none;
    justify-content: space-evenly;
    color: black;
}

.index a:hover{
    color: #9DBEB9;
}

.index a:active{
    color: #F9DFDC;
}

/* Imagenes de las tarjetas en la pagina QUIENES SOMOS*/
.who {
    width: auto;
    max-width: fit-content;
}

/* Three columns side by side */
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Titulo de las tarjetas en la pagina QUIENES SOMOS*/
  .title1 {
    color: #194350;
  }
  
/* Tarjetas para cada mujer*/
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 25px;
    float: right;
    background-color: #F9DFDC;
    
  }
  
  /* Titulo para cada tarjeta individual, para cada mujer*/
  .title2 {
    color: #194350;
    font-size: 28px;
    text-align: center;
  }
  .date {
    text-align: center;
  }

  /* Imagenes en las tarjetas de cada mujer  */
.image {
  width: 80%;
  height: auto;
}

/* Tarjetas para cada mujer datos curiosos*/
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 25px;
  padding: 20px;
  float: left;
  background-color: #F9DFDC;
  
}  
.content {
  margin: 30px;
}

.agnesimg {
  width: 40%;
  height: auto;
}

.veraimg {
  width: 50%;
  height: auto;
}

.claireimg {
  width: 30%;
  height: auto;
  float: unset;
}

.pages {
  color: #194350;
}

/* Frase principal*/
.mainquote{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 25px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  background-color: #F9DFDC;
}

/* Frases*/
.quotes p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 25px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
}
 